
    <!-- CHAPTERS LIST -->
    <ons-template id="chap_cat4.html">
        <ons-page>
            <ons-toolbar fixed-style>
              <div class="left">
                <ons-toolbar-button onclick="myNavigator.popPage({ animation: 'fade' });"><ons-icon icon="ion-arrow-left-c" fixed-width="false"></ons-icon></ons-toolbar-button>
              </div>
              <div class="center">
                <span style="color:#ddd;">Category 4</span>
              </div>
              <div class="right">
                <ons-toolbar-button>
                  <ons-icon icon="ion-ios7-search-strong" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon>
                </ons-toolbar-button>
              </div>
            </ons-toolbar>

            <ons-list class="timeline" modifier="inset">
              <ons-list-item class="timeline-li"  modifier="tappable" ng-repeat="i in [1,2,3,4,5,6]" ng-click="chapter(4,$index+1)">
                <ons-row>
                  <ons-col width="50px">
                    <img ng-src="assets/img/document.png" class="timeline-image">
                  </ons-col>

                  <ons-col>
                    <div class="timeline-date"></div>
                    <div class="timline-from">
                      <span class="timeline-name">Lesson #{{$index+1}}</span><!-- 
                      <span class="timeline-id">@daveg</span> -->
                    </div>

                    <!-- <div class="timeline-message">
                      Lesson #1
                    </div> -->
                  </ons-col>
                </ons-row>
              </ons-list-item>
          </ons-page>
    </ons-template>
