<!-- EXAM DESC -->

    <ons-template id="exam-desc.html" >
        <ons-page>
            <ons-toolbar fixed-style>
              <div class="right">
                
              </div>
              <div class="center"></div>
              <div class="left">
                <!-- <ons-toolbar-button> -->
                  <!-- <ons-icon icon="ion-ios7-search-strong" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon> -->
                <!-- </ons-toolbar-button> -->
                <ons-toolbar-button ng-click="myNavigator.popPage();">
                  <ons-icon icon="ion-arrow-left-c" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
              </div>
            </ons-toolbar>

            <ons-list class="timeline" modifier="inset">
              <ons-list-item class="timeline-li">
                <ons-row>
                  <ons-col width="80px" style="margin-left:5px;">
                      <label>Exam :</label>
                  </ons-col>
                  <ons-col>
                      <label id="exam_name"></label>
                  </ons-col>
                </ons-row>
              </ons-list-item>
              <ons-list-item class="timeline-li questionnaire">
                <ons-row>      
                  <ons-col class="question" width="80px"><label>Items :</label></ons-col>
                  <ons-col> <span id="exam_items"></span></ons-col>   
                </ons-row>
                <br>
                <ons-row>      
                  <ons-col class="question" width="80px"><label>Timer :</label></ons-col>
                  <ons-col><span id="exam_timer"></span></ons-col>   
                </ons-row>
              </ons-list-item>
              <ons-list-item class="timeline-li">
                <button class="button button--large sbmit-btn" ng-click="get_items();">Start Exam</button>
              </ons-list-item>
            </ons-list>
        </ons-page>    
    </ons-template>